* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #0b1a2a;
  --black: #050505;
  --accent: #1f4fd8;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  color: white;
  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)),
    url("https://cdn.discordapp.com/attachments/1346423941228527678/1467610970804322438/RobloxScreenShot20250816_003646762_-_Copy.webp?ex=6981ab7a&is=698059fa&hm=72c66c7591f11b85984d0961af5057f302c88008db73dc6581cddabfe83863f9&");
  background-size: cover;
  background-position: center;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(5,5,5,0.8);
  display: flex;
  align-items: center;
  padding: 0 30px;
  backdrop-filter: blur(6px);
  z-index: 10;
}

.logo {
  height: 45px;
  margin-right: 30px;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
}

.navbar nav a:hover {
  opacity: 0.7;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

/* CARD */
.card {
  background: rgba(11, 26, 42, 0.55);
  padding: 60px 40px;
  max-width: 650px;
  width: 90%;
  min-height: 320px;
  border-radius: 18px;
  text-align: center;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 0 30px 80px rgba(0,0,0,0.7);
}


.card h1 {
  font-size: 2.1rem;
  margin-bottom: 15px;
}

.card p {
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.9;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease;
}

.btn.primary {
  background: var(--accent);
  color: white;
}

.btn.secondary {
  border: 2px solid var(--accent);
  color: white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(31,79,216,0.4);
}
